*{
	margin:0;
	padding:0;
	transition: all;
}

.header-img1{
	width:2rem;	
}
.header-li li:hover{
background:skyblue;
}
#carousel-example-generic{
	width:100%;
	margin-top: 0.45rem;

}
.item img{
	width: 100%;
	height:100%;
}
.body-3{
	width:6rem;
	height:3rem;

}
.row-1{
	font-weight: bold;
	font-size: 0.3rem;
	height: 0.5rem;
	color:#cccF;
}
.row-img-5-1,
.row-img-5-2,
.row-img-5-3,
.row-img-5-4{

	height:100%;
	overflow:hidden;
	padding:0;
	margin:0;
	
}
.row-img-5-1 img,.row-img-5-2 img ,.row-img-5-3 img,.row-img-5-4 img{
	width:100%;
	height:100%;
	
}

.row-img-5-1 img:hover{
	animation:move 1s linear 0.5s forwards;
}
.row-img-5-2 img:hover{
	animation:move 1s linear 0.5s forwards;
}
.row-img-5-3 img:hover{
	animation:move 1s linear 0.5s forwards;
}
.row-img-5-4 img:hover{
	animation:move 1s linear 0.5s forwards;
}
@keyframes move{
	0%{
		transform:translateX(0);
	}
	100%{
		transform:translateX(100%);
	}
}
.row-img-4-1 img{
	margin:0.1rem;
	border:0.02rem solid #ccc;
	
};


.row-img5{
	height:5rem;
	width:100;
}

.footer-1{
	color:white;
	text-align:center;
	line-height: 0.5rem;
	
}
.rowFour{
	margin-bottom: 0.7rem;

}
.bodyThird{
	height: 3rem;
	overflow:auto;
}
.row-show{
	color:black;
	font-size:0.1rem;
}
.container{
	padding:0.2rem;
	clear:both;
}
